html,
body,
div {
  color: white;
  background-color: #212121;
  font-family: Segoe UI Light !important;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1920px;
  min-width: 600px;
  height: 100%;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.transparent {
  background: transparent;
}
button {
  border: none;
  border-radius: 2px;
  width: 30rem;
  height: 4rem;
  margin-top: 1rem;
  padding: 0.5rem;
  align-self: flex-start;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: #f1b309;
  box-shadow: 0 0 4px #999;
  outline: none;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #f1c609 radial-gradient(circle, transparent 1%, #f1b309 1%) center / 15000%;
}
.ripple:active {
  background-color: rgba(255, 230, 0, 0.945) !important;
  background-size: 100%;
  transition: background 0s;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 98%;
  align-self: center;
  position: absolute;
  background: transparent !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav img {
  height: 8rem;
  width: auto;
  align-self: center;
}
.nav h2 {
  font-size: 1.3rem;
}
.navitems {
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.navitems h1 {
  font-size: 1.6rem;
  color: #f1b309;
  transition: color 0.5s ease;
  cursor: pointer;
}
.navitems h1:hover {
  color: white;
}
.jumbo {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}
.landing {
  background-image: url(../../assets/unnamed30opacnorm.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.cta {
  height: 100%;
  width: 40%;
  justify-content: center;
  background: transparent;
  padding-left: 2rem;
}
.cta h1 {
  margin: 0;
}
.cta img {
  width: 46rem;
  height: auto;
  align-self: flex-end;
}
.cta p {
  font-size: 1.5rem;
}
.ctatext {
  padding-top: 2rem;
}
.ctatext .cta-1 {
  font-size: 7rem;
}
.ctatext .cta-2 {
  font-size: 5rem;
}
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sec-1 {
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}
.sec-1 img {
  width: 50rem;
  height: auto;
}
.sec-1-text {
  justify-content: center;
  width: 50%;
}
.sec-1-text h1 {
  font-size: 3rem;
  margin: 0;
}
.sec-1-text p {
  font-size: 1.2rem;
}
.light {
  background-color: white;
}
.sec-2-text {
  color: black;
}
.sec-2-text h1 {
  text-align: center;
}
.sec-2-text span {
  color: #daa520;
  font-size: 3rem;
}
